/etc/config.json

/utils/json/*
listener/__pycache__/ping-listener.cpython-39.pyc
listener/__pycache__/spam-detection-listener.cpython-39.pyc
listener/__pycache__/link-listener.cpython-39.pyc
listener/__pycache__/file-listener.cpython-39.pyc
listener/__pycache__/blacklist-listener.cpython-39.pyc
events/__pycache__/onMessage.cpython-39.pyc
events/__pycache__/onLeave.cpython-39.pyc
events/__pycache__/onJoin.cpython-39.pyc
events/__pycache__/onGuild.cpython-39.pyc
events/__pycache__/logEvents.cpython-39.pyc
cogs/__pycache__/Verify.cpython-39.pyc
cogs/__pycache__/Utilities.cpython-39.pyc
cogs/__pycache__/Translator.cpython-39.pyc
cogs/__pycache__/Timers.cpython-39.pyc
cogs/__pycache__/Ticket.cpython-39.pyc
cogs/__pycache__/Setup.cpython-39.pyc
cogs/__pycache__/Rules.cpython-39.pyc
cogs/__pycache__/Roles.cpython-39.pyc
cogs/__pycache__/Poll.cpython-39.pyc
cogs/__pycache__/Moderation.cpython-39.pyc
cogs/__pycache__/Music.cpython-39.pyc
cogs/__pycache__/Math.cpython-39.pyc
cogs/__pycache__/Info.cpython-39.pyc
cogs/__pycache__/help2.cpython-39.pyc
cogs/__pycache__/Help.cpython-39.pyc
cogs/__pycache__/giveaway.cpython-39.pyc
cogs/__pycache__/Fun.cpython-39.pyc
cogs/__pycache__/gifs.cpython-39.pyc
cogs/__pycache__/Channel.cpython-39.pyc
cogs/__pycache__/Automod.cpython-39.pyc
cogs/__pycache__/Administration.cpython-39.pyc
cogs/__pycache__/Active_Check.cpython-39.pyc
__pycache__/main.cpython-39.pyc
